<!--
<?php
    include('../../controller/protect.php')

?>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SICAD - Sistema Academico de Certificação Digital</title>
    <link rel="icon" href="assets/miniatura.png">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="index.html">
                    <img src="assets/logo-composta.png" style="height: 50px;">
                </a>
            </li>
            <li style="float:right">
                <!--<img src="assets/user_icon.png" alt="" style="height: 30px; width: 30px; margin-top: 12px;">-->
                <div class="dropdown">
                    <button class="dropbtn">Nome do usuario</button>
                    <div class="dropdown-content">
                        <a href="#">Meu perfil</a>
                        <a href="#">Meus eventos</a>
                        <a href="#">Meus conteudos</a>
                        <hr>
                        <a href="../../controller/logout.php">Sair</a>
                    </div>
                </div>
            </li>
            <li style="float:right">
                <div class="dropdown">
                    <button class="dropbtn">Area do Participante</button>
                    <div class="dropdown-content">
                        <a href="#">Area do Participante</a>
                        <a href="#"><b>Area do Organizador</b></a> <!-- se for um organizador-->
                        <a href="#">Area de Credenciamento</a><!-- se for um organizador-->
                    </div>
                </div>
            </li>            
            <li style="float:right">
                <div class="dropdown">
                    <button class="dropbtn">Meus Eventos</button>
                    <div class="dropdown-content">
                        <a href="#">isso é pra ser um frame no centro da pagina</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>



    <h1>bem vindo(a) <?php echo $_SESSION['nome_usuario'] ?></h1>

    <p>
        <a href="../../controller/logout.php">sair</a>
    </p>

</body>
</html>
